<p>Vamo a pintar los datos</p>



<!-- <a routerLink="home">Ir a Home</a> -->

<div class="container">
    <div class="row">
        <div class="col mb-5" *ngFor="let personaje of personajes" >
            <img class="card-img-top" src={{personaje.img}}>
            <p>{{personaje.name}}</p>
        </div>
    </div>
</div>